<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <h2>FedEx Signup</h2>
  <div class="field">
    <label for="firstName">Firstname<sup>*</sup></label>
    <input id="firstName" type="text" formControlName="firstName" />
    <warning
      [control]="signupForm.controls['firstName']"
      key="required"
      warning="Firstname is required"
    />
  </div>
  <div class="field">
    <label for="lastName">Lastname<sup>*</sup></label>
    <input id="lastName" type="text" formControlName="lastName" />
    <warning
      [control]="signupForm.controls['lastName']"
      key="required"
      warning="Lastname is required"
    />
  </div>
  <div class="field">
    <label for="password">Password<sup>*</sup></label>
    <input id="password" type="password" formControlName="password" />
    <warning
      [control]="signupForm.controls['password']"
      key="required"
      warning="Password is required"
    />
    <warning
      [control]="signupForm.controls['password']"
      key="minlength"
      warning="Password should be a minimum of eight characters"
    />
    <warning
      [control]="signupForm.controls['password']"
      key="lowerAndUpper"
      warning="Password should contain lower and uppercase letters"
    />
    <warning
      [control]="signupForm.controls['password']"
      key="noNames"
      warning="Password should not contain either firstname or lastname."
    />
  </div>
  <div class="field">
    <label for="email">Email<sup>*</sup></label>
    <input id="email" type="text" formControlName="email" />
    <warning
      [control]="signupForm.controls['email']"
      key="required"
      warning="Email is required"
    />
    <warning
      [control]="signupForm.controls['email']"
      key="theOtherEmail"
      warning="Please provide a valid email address."
    />
  </div>
  <div class="buttons">
    <button type="submit">Sign up</button>
  </div>
</form>
