<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <h2>FedEx Signup</h2>
  <div class="field">
    <label for="firstName">Firstname<sup>*</sup></label>
    <input
      id="firstName"
      type="text"
      formControlName="firstName"
      (change)="validate()"
    />
    <warning
      [control]="signupForm.controls['firstName']"
      key="required"
      warning="Firstname is required"
    />
  </div>
  <div class="field">
    <label for="lastName">Lastname<sup>*</sup></label>
    <input
      id="lastName"
      type="text"
      formControlName="lastName"
      (change)="validate()"
    />
    <warning
      [control]="signupForm.controls['lastName']"
      key="required"
      warning="Lastname is required"
    />
  </div>
  <div class="field">
    <label for="password">Password<sup>*</sup></label>
    <input
      id="password"
      type="password"
      formControlName="password"
      (change)="validate()"
    />
    <warning
      [control]="signupForm.controls['password']"
      key="required"
      warning="Password is required"
    />
    <warning
      [control]="signupForm.controls['password']"
      key="minlength"
      warning="Password should be a minimum of eight characters"
    />
    <warning
      [control]="signupForm.controls['password']"
      key="lowerAndUpper"
      warning="Password should contain lower and uppercase letters"
    />
    <warning
      [control]="signupForm.controls['password']"
      key="noNames"
      warning="Password should not contain either firstname or lastname"
    />
  </div>
  <div class="field">
    <label for="email">Email<sup>*</sup></label>
    <input
      id="email"
      type="text"
      formControlName="email"
      (change)="validate()"
    />
    <warning
      [control]="signupForm.controls['email']"
      key="required"
      warning="Email is required"
    />
    <warning
      [control]="signupForm.controls['email']"
      key="theOtherEmail"
      warning="Please provide a valid email address"
    />
  </div>
  <p *ngIf="showWarning" class="alert">Please fill out the form correctly.</p>
  <p *ngIf="showSuccess" class="info">Your data has been sent successfully.</p>
  <div class="buttons">
    <button type="submit" [attr.disabled]="showWarning ? true : null">
      Sign up
    </button>
  </div>
</form>
